<ion-header>
  <ion-toolbar color="primary">
    <ion-title>{{ pageTitle }}</ion-title>

    <ion-buttons slot="end">
      <ion-button (click)="toggleLanguage()">
        <ion-icon slot="icon-only" name="globe-outline"></ion-icon>
      </ion-button>
    </ion-buttons>

  </ion-toolbar>
</ion-header>

<ion-content class="ion-padding">
  <ion-item>
    <ion-label position="floating">{{ emailLabel }}</ion-label>
    <ion-input type="email" [(ngModel)]="email"></ion-input>
  </ion-item>

  <ion-item>
    <ion-label position="floating">{{ passwordLabel }}</ion-label>
    <ion-input type="password" [(ngModel)]="password"></ion-input>
  </ion-item>

  <ion-button expand="block" (click)="handleLogin()" class="ion-margin-top">
    {{ loginButton }}
  </ion-button>

  <ion-button expand="block" fill="clear" routerLink="/register">
    {{ registerLink }}
  </ion-button>
</ion-content>
