<ion-header>
  <ion-toolbar color="primary">
    <ion-title>Mis Wallpapers</ion-title>
    <ion-buttons slot="end">
      <ion-button (click)="handleLogout()">
        <ion-icon name="log-out-outline"></ion-icon>
      </ion-button>
    </ion-buttons>
  </ion-toolbar>
</ion-header>

<ion-content>
  <input type="file" #fileInput hidden="true" (change)="handleFileSelected($event)" accept="image/*" />

  <ion-grid *ngIf="wallpapers.length > 0; else noWallpapers">
    <ion-row>
      <ion-col size="6" *ngFor="let wallpaper of wallpapers">
        <ion-card (click)="onWallpaperClick(wallpaper)" class="wallpaper-card ion-activatable">
          <ion-img [src]="wallpaper.url"></ion-img>
          <ion-ripple-effect></ion-ripple-effect>
        </ion-card>
      </ion-col>
    </ion-row>
  </ion-grid>

  <ng-template #noWallpapers>
    <div class="ion-text-center ion-padding">
      <p>Aún no has subido ningún fondo de pantalla.</p>
    </div>
  </ng-template>

  <ion-fab vertical="bottom" horizontal="end" slot="fixed">
    <ion-fab-button (click)="triggerFileInput()">
      <ion-icon name="cloud-upload-outline"></ion-icon>
    </ion-fab-button>
  </ion-fab>
</ion-content>
